html {
  font-size: 16px;
  box-sizing: border-box;
}

/* page specific colors */
/* universal palette */
/* near-but-not black */
/* not-quite white*/
/* fonts */
#pop-up {
  width: 300px;
  padding: 10px;
  background-color: #042f4b;
  color: #4ecca3;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px yellow, 5px 5px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
  animate this opacity property
  from 0 to 1    
  */
  opacity: 0;
  /* 
  ensure pointer events will go 'through' this section tag 
  since it might  otherwise overlap the buttons and make them unclickable
  */
  pointer-events: none;
  z-index: 1000;
}

#btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  background-color: #b1bd6a;
  color: inherit;
  border: solid 2px whitesmoke;
  cursor: pointer;
  /* ensure pointer events will apply to the button */
  pointer-events: all;
}

#btn-close:hover {
  background-color: #042f4b;
  border-color: #b1bd6a;
}

body {
  margin: 0;
  font-family: "Verdana", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: "leaguespartan-bold-webfont", "Helvetica", sans-serif;
  letter-spacing: 3px;
}

h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 0px #b1bd6a;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

header {
  background-color: #042f4b;
  color: whitesmoke;
  padding: 20px;
  box-shadow: 0px 3px 8px 0px #042f4b;
  border-bottom: solid 3px #b1bd6a;
}

header h1 {
  margin: 0;
  line-height: 1;
  text-shadow: 1px 1px 0px whitesmoke, 3px 3px 0px #242424;
}

main {
  padding: 20px;
  flex: 1;
}

footer {
  background-color: #b1bd6a;
  color: #042f4b;
  padding: 20px;
  box-shadow: 0px -3px 8px 0px #042f4b;
  border-top: solid 1px #b1bd6a;
}

footer p {
  font-size: 1.15em;
  color: #042f4b;
  line-height: 1em;
  margin: 0;
  position: relative;
  padding-left: 20px;
}

.flex {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  padding-top: 20px;
  height: 600px;
  align-items: center;
  /*border: 3px solid black;*/
}

flex.child-box {
  width: 25%;
  margin: 2px;
}

.child-box {
  /*border-left: 2px solid #042f4b;*/
  height: 500px;
  width: 25%;
}

.w50 {
  height: 50%;
  width: 50%;
}

#line1 {
  border-left: 2px solid #042f4b;
}

#line2 {
  border-right: 2px solid #042f4b;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

body {
  /*background-color: #042f4b;*/
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3.5rem;
  color: #4ecca3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 100%;
}

.dno {
  display: flex;
  border: red;
}

.bottom {
  padding-top: 30px;
}

.butn {
  background: #4ecca3;
  font-family: "Indie Flower", cursive;
  border-radius: 7px;
  color: #ffff;
  font-size: 30px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
}

.butn:hover {
  background: #232931;
  text-decoration: none;
}